.addBooks{
    border:1px solid red;
    padding: 15px;
    width: 200px;
    display: inline-flex;
    flex-direction: column;

    input{
        margin-bottom: 15px;
        height: 30px;
    }
    textarea{
        margin-bottom: 15px;
        height: 60px;
    }

    button{
        height: 30px;
    }
}